<LocalizationBar />
<div class="container">
  <div class="row">
    <div class="column column-25">
      <div class="row">
        <div class="colimn">
          <h1>{{t 'tags'}}</h1>
          <TagBar />
        </div>
      </div>
      <div class="row">
        <div class="colimn">
          <TagsList @tags={{@model}} />
        </div>
      </div>
    </div>
    {{outlet}}
  </div>
</div>